doctype html
html(lang='de')
    head
        title= "drater"
        meta(charset="UTF-8")
        script(src='/jQuery.js')
        script(src='/drater.js')
    body
        div(id="div-spend")
        div(id="div-open")